.header {
  padding: 20px;
  text-align: center;
}

.colored {
  background-color: rgba(0, 0, 0, 1);
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
}

#container-div {
  align-items: stretch;
  display: grid;
  height: 70vh;
  justify-content: stretch;
  margin: auto;
  text-align: center;
  width: 70vh;
}